@page "/"
@layout PublicLayout
@inject IComicsClient Comics

<PageTitle>comicplus</PageTitle>
<SectionContent SectionName="page-title">A creative commons webcomic template</SectionContent>

<SectionContent SectionName="aside">
    <aside class="float-right aside is-hidden">
        <div class="ad container">
            <span>Advertisement</span>
            <div class="placeholder"></div>
        </div>
        <div class="container list">
            <h3>Blog Posts</h3>
            <ul>
                <li><a href="#">Title 1</a></li>
                <li><a href="#">Title 2</a></li>
                <li><a href="#">Title 3</a></li>
                <li><a href="#">Title 4</a></li>
                <li><a href="#">Title 5</a></li>
            </ul>
        </div>
    </aside>
</SectionContent>

<div style="padding: 2% 0 0 1.7%">
    @if (_comics is not null && _comics.Count > 0)
    {
        var featured = _comics[0];
        <div class="comic-item-featured float-left"
             style="background-image: url(@featured.ImageUrl);">
            <div class="comic-featured-heading">
                <h2><a href="/collection/comic-1">Featured Comic</a></h2>
                <span>@featured.Title</span>
            </div>
        </div>

        @foreach (var comic in _comics.Skip(1))
        {
            <div class="comic-item flexbox">
                <div class="comic-item-heading">
                    <h2>@comic.Title</h2>
                </div>
                <div class="comic-item-content">
                    <div class="comic-item-cover"
                         style="background-image: url(@comic.ImageUrl);"></div>
                    @if (!string.IsNullOrWhiteSpace(comic.Caption))
                    {
                        <div class="comic-item-description">
                            <p>@comic.Caption</p>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>

@code {
    private IReadOnlyList<CNSPlus.Shared.Comic>? _comics;

    protected override async Task OnInitializedAsync()
    {
        _comics = await Comics.ListAsync(featured: null, limit: 10);
    }
}
